# Make autocomplete case insensitive
set completion-ignore-case on

# Ctrl-Delete: delete next word
"\e[3;5~": kill-word

# Ctrl-Backspace
"\C-H": backward-kill-word

"\e[1~": beginning-of-line
"\e[4~": end-of-line

set colored-stats on
set colored-completion-prefix on
